.navbar {
    background-color: #5cb85c;
}

#content {
    margin-top: 60px;
}

#search li {
    display: inline-block;
    margin-top: 8px;
}

.status {
    border: solid;
    margin-bottom: 10px;
}

.status form textarea {
    display: block;
}

.status form {
    display: inline-block;
}

.menu {
    margin-right: 14px;
}

textarea {
    resize: none;
}

.statusContent {
    margin-left: 5px;
}

.date {
    font-size: 8px;
    color: grey;

}

.name {

}

.comments {
    margin-left: 10px;
}

.dropdown-menu li form {
    display: none;
}

.username {
    margin-top: 10px;
}

.user {
    margin-top: 10px;
}
