.navbar {
    background-color: #5cb85c;
}

#content {
    margin-top: 60px;
}

#search li{
    display: inline-block;
    margin-top: 8px;
}

.status {
    border: solid;
    margin-bottom: 10px;
}

.status .buttons form {
    display: inline-block;
}

.status form textarea{
    display: block;
}

.status form {
    display: inline-block;
}

