<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="head :: head"></head>
<body>
<nav th:replace="navbar :: navbar"></nav>
<div id="content" class="container">
    <div class="row">
        <div class="col-md-3">
            <div th:if="${!member}">
                <form th:object="${group}" th:action="@{'/joingroup/' + ${group.id}}" method="post">
                    <button class="btn btn-default" type="submit">Join group</button>
                </form>
            </div>
            <div th:if="${member}">
                <button class="btn btn-default">Leave group</button>
            </div>
        </div>
        <div class="col-md-6">
            <h1 th:text="${group.name}"></h1>
        </div>
        <div class="col-md-3 groupInformation">
            <h6><b>Group description</b></h6>
            <p th:text="${group.description}"></p>
        </div>
    </div>
</div>
</body>
</html>