<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="head :: head">
</head>
<body>
<nav th:replace="navbar :: navbar"></nav>
<div id="content" class="container">
    <h1>Invitations received:</h1>
    <table>
        <tr th:object="${receivedInvitations}" th:each="invitation : ${receivedInvitations}">
            <td th:text="${invitation.sender.firstName} + ' ' + ${invitation.sender.lastName}"></td>
            <form action="#" th:action="@{'/userprofile/' + ${invitation.sender.id}}" method="get">
                <td>
                    <button class="btn btn-default">Profile</button>
                </td>
            </form>
            <form th:action="@{'/addfriend/' + ${invitation.sender.id} + '/' + ${invitation.id}}" method="post">
                <td>
                    <button class="btn btn-default">Accept invitation</button>
                </td>
            </form>
            <form th:action="@{'/deleteinvitation/' + ${invitation.id}}" method="post">
                <td>
                    <button class="btn btn-default">Cancel invitation</button>
                </td>
            </form>
        </tr>
    </table>
    <h1>Invitations send:</h1>
    <table>
        <tr th:object="${sendInvitations}" th:each="invitation : ${sendInvitations}">
            <td th:text="${invitation.receiver.firstName} + ' ' + ${invitation.receiver.lastName}"></td>
            <form action="#" th:action="@{'/userprofile/' + ${invitation.receiver.id}}" method="get">
                <td>
                    <button class="btn btn-default">Profile</button>
                </td>
            </form>
            <form th:action="@{'/deleteinvitation/' + ${invitation.id}}" method="post">
                <td>
                    <button class="btn btn-default">Cancel invitation</button>
                </td>
            </form>
        </tr>
    </table>
</div>
</body>
</html>
