<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="head :: head"></head>
<body>
<nav th:replace="navbar :: navbar"></nav>
<div id="content" class="container">
    <h1>Results:</h1>
    <table>
        <tr th:object="${users}" th:each="user : ${users}">
            <td th:text="${user.firstName} + ' ' + ${user.lastName}"></td>
            <form action="#" th:action="@{'/userprofile/' + ${user.id}}" method="get">
                <td>
                    <button class="btn btn-default">Profile</button>
                </td>
            </form>
            <form th:if="${friends.contains(user) == true}" th:action="@{'/deletefriend/' + ${user.id}}" method="post">
                <td>
                    <button class="btn btn-default">Delete from friends</button>
                </td>
            </form>
            <form th:if="${user.id != loggedUserid and friends.contains(user) == false and receivedInvitations.contains(user) == false and sendInvitations.contains(user) == false}"
                  th:action="@{'/sendinvitation/' + ${user.id}}" method="post">
                <td>
                    <button class="btn btn-default">Send invitation to friends</button>
                </td>
            </form>
            <form th:if="${receivedInvitations.contains(user) || sendInvitations.contains(user)}"
                  th:action="@{'/deleteinvitation/' + ${loggedUserid} + '/' + ${user.id}}" method="post">
                <td>
                    <button class="btn btn-default">Cancel invitation</button>
                </td>
            </form>
        </tr>
    </table>
</div>
</body>
</html>
