<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="head :: head"></head>
<body>
<nav th:replace="navbar :: navbar"></nav>
<div id="content" class="container">
    <div class="existingUser" th:if="${nonExistingUser == null}">
        <h1 th:text="${userProfile.firstName} + ' ' + ${userProfile.lastName}"></h1>
        <div class="add">
            <form th:action="@{'/userprofile/' + ${userProfile.id}}" th:object="${add}" method="post">
                <textarea rows="4" cols="50" th:field="*{content}"></textarea>
                <button class="btn btn-default" id="add" type="submit">Add status</button>
            </form>
        </div>
        <div class="status" th:each="status : ${statuses}">
            <p th:text="${status.addingUser.firstName} + ' ' + ${status.addingUser.lastName}"></p>
            <p th:text="${status.date}"></p>
            <p th:text="${status.content}"></p>
            <div class="comment">
                <form th:action="@{'/userprofile/' + ${userProfile.id}}" th:object="${addComment}" method="post">
                    <textarea rows="1" cols="40" placeholder="Add comment" th:field="*{content}"></textarea>
                    <button class="btn btn-default" id="addComment" type="submit">Add comment</button>
                </form>
                <div class="comments" th:each="comment : ${comments}">
                    <p th:text="${comment.userStatus.addingUser.firstName} + ' ' + ${comment.userStatus.addingUser.lastName}"></p>
                    <p th:text="${comment.date}"></p>
                    <p th:text="${comment.content}"></p>
                </div>
            </div>

            <div class="buttons">
                <form th:if="${loggedUserId} == ${status.userId} or ${loggedUserId} == ${status.addingUser.id}"
                      th:action="@{'/userprofile/' + ${userProfile.id} + '/delete/' + ${status.statusId}}" method="get">
                    <button class="btn btn-default" type="submit">Delete</button>
                </form>
                <form th:if="${loggedUserId} == ${status.addingUser.id}"
                      th:action="@{'/userprofile/' + ${userProfile.id} + '/edit/' + ${status.statusId}}" method="get">
                    <button class="btn btn-default" type="submit">Edit</button>
                </form>
            </div>
        </div>
    </div>
    <div class="nonExistingUser" th:if="${nonExistingUser}">
        <h1 th:text="${nonExistingUser}"></h1>
    </div>
</div>
</body>
</html>
